body {
    background-color: rgb(67, 67, 245);  
}

h1 {
    color: aquamarine;
    font-size: 75px;
}                                                                                                                    